[Unit]
Description=Shairport Sync (AirPlay Receiver)
After=network.target avahi-daemon.service pipewire.service wireplumber.service
Wants=avahi-daemon.service

[Service]
ExecStart=/usr/bin/shairport-sync
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
